.parent {
	padding: 60px 30px 30px 30px;
}

.listContainer {
	height: 100%;
	/* list-style-type: none; */

	/* padding: 0px 105px 0px 105px; */
	/* margin: auto; */
}

.listItem {
	float: left;
}

.video-size {
	width: 100%;
	height: 400px;
}

@media (max-width: 767px) {
	.video-size {
		width: 100%;
		height: 200px;
	}
}
